    <!-- Dito yung design for email
        if may naiisip pa kayong design huhu kayo na to T T-->

        <%- include('header') -%>

        <body>
            <!--Navigation bar-->
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">SoundSend</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="magnify">Magnifier</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Modes of Screen
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" value="default">Default</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" value="Deuteranomaly">Deuteranomaly</a></li>
                                    <li><a class="dropdown-item" value="Protanomaly">Protanomaly</a></li>
                                    <li><a class="dropdown-item" value="Tritanomaly">Tritanomaly</a></li>
                                    <li><a class="dropdown-item" value="Tritanopia">Tritanopia</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    
            <!-- Body content for email-->
            <section class="email_padding">
                <div class="container border border-black rounded email_custom py-5">
                    <div class="m-3">
                        <div id="notification" name="notification" class="notification text-center d-flex justify-content-center align-items-center"></div>
                            <div class>
                                <!-- <a type="button" class="btn btn-primary" href="/homepage"><i class="bi bi-caret-left-fill"></i>  Back</a> -->
                                <button id="startSpeechRecognition" class="btn btn-primary">
                                    <i class="bi bi-mic-fill"></i> Activate Speech Recognition
                                </button>
                            </div>
                        <br><br>
                        <form id="emailForm" action="/send-email" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">From:</label>
                            <input type="email" class="form-control" name="userEmailAddress" id="userEmailAddress" value="oshisoffline@gmail.com" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">To:</label>
                            <input type="email" class="form-control" name="recipientEmailAddress" id="recipientEmailAddress" placeholder="name@gmail.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Subject:</label>
                            <input type="text" class="form-control" name="subjectEmail" id="subjectEmail" required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Body:</label>
                            <textarea class="form-control" name="bodyEmail" id="bodyEmail" rows="3" required></textarea>
                        </div>
                        <!-- notification alert for file uploading -->
                        <div class="row mb-3">
                            <div class="col-md-12 text-end">
                                <div id="fileUploadedAlert" class="alert alert-success d-none" role="alert">
                                    File uploaded successfully!
                                </div>
                                <div id="noFileUploadedAlert" class="alert alert-warning d-none" role="alert">
                                    No file uploaded.
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" id="attachFileButton" class="btn btn-lg"><i class="bi bi-folder-plus"></i>&nbsp;&nbsp;&nbsp;Attach Files</button>
                            <input type="file" name="attachment" id="fileInput" style="position: absolute; top: -9999px;">
                        </div>
                        <div id="fileNameContainer" class="mt-2"></div>
                        <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-lg">Send Email</button>
                        </div>
                        </div>
                        </form>
                    </div>
                </div>
            </section>
    
            <%- include('footer') -%>
    
    <script>

    // declaring variables for handing email sending, including attach file function
    const emailForm = document.getElementById('emailForm');
    const notificationElement = document.getElementById('notification');
    
    const fileInput = document.getElementById('fileInput');
    const attachFileButton = document.getElementById('attachFileButton');
    
    const fileUploadedAlert = document.getElementById('fileUploadedAlert');
    const noFileUploadedAlert = document.getElementById('noFileUploadedAlert');
    
    const fileNameContainer = document.getElementById('fileNameContainer');
    
    attachFileButton.addEventListener('click', () => {
        fileInput.click();
    });
    
    // showing the file name, and notification alert for file uploading
    fileInput.addEventListener('change', () => {
        const attachment = fileInput.files[0];
        if (attachment) {
            const fileName = attachment.name;
            fileNameContainer.textContent = `Attached File: ${fileName}`;
            noFileUploadedAlert.classList.add('d-none');
            fileUploadedAlert.classList.remove('d-none');
        } else {
            fileNameContainer.textContent = '';
            noFileUploadedAlert.classList.remove('d-none');
            fileUploadedAlert.classList.add('d-none');
        }
    });
    
    emailForm.addEventListener('submit', async (event) => {
        event.preventDefault();
    
        const formData = new FormData(emailForm);
    
        try {
            const response = await fetch('/send-email', {
                method: 'POST',
                body: formData,
            });
    
            const result = await response.json();
    
            if (result.status === 'success') {
                notificationElement.textContent = result.message;
                fileNameContainer.textContent = '';
                fileInput.value = '';
                noFileUploadedAlert.classList.add('d-none'); 
                fileUploadedAlert.classList.add('d-none');
            } else {
                console.error(result.message);
                notificationElement.textContent = 'An error occurred while sending the email.';
            }
    
            emailForm.reset();
        } catch (error) {
            console.error(error);
            notificationElement.textContent = 'An error occurred while sending the email.';
        }
    });

    //speech to text recognition function, using javascript only
    document.addEventListener('DOMContentLoaded', () => {
    const bodyEmailTextarea = document.getElementById('bodyEmail');
    const startSpeechRecognitionButton = document.getElementById('startSpeechRecognition');

    let recognition = new webkitSpeechRecognition();

    recognition.continuous = true;
    recognition.interimResults = false;
    recognition.lang = 'en-US';

        recognition.onresult = function(event) {
            let interimTranscript = '';

        for (let i = event.resultIndex; i < event.results.length; ++i) {
            if (event.results[i].isFinal) {
                bodyEmailTextarea.value += event.results[i][0].transcript + ' ';
            } else {
                interimTranscript += event.results[i][0].transcript;
            }
        }

    };

        recognition.onend = function() {
            startSpeechRecognitionButton.disabled = false;
    };

        startSpeechRecognitionButton.addEventListener('click', function() {
            recognition.start();
            startSpeechRecognitionButton.disabled = true;
        });
    });
    
    //click fields for computer to read its content
    document.addEventListener('DOMContentLoaded', () => {
    const fields = document.querySelectorAll('.form-control');

    fields.forEach(field => {
        field.addEventListener('click', function() {
            const content = this.value;
            speak(content);
        });
    });

    function speak(content) {
        const synth = window.speechSynthesis;
        const utterance = new SpeechSynthesisUtterance(content);
        const voices = synth.getVoices();
        const femaleVoice = voices.find(voice => voice.name.includes('Female'));

        utterance.voice = femaleVoice;
        synth.speak(utterance);
        }
    });

    </script>
    </body>
    
