<!-- Footer,, dito lahat ng links, credentials and such na pwede nilang icontact, me thinks na dapat din ilagay
    yung opthal or doctor na pinagtanungan natin-->
<div>
    <footer class="text-center text-lg-start footer-custom">
        <div class="container p-4">
            <div class="row mt-4">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 footer-title">About SoundSend</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        <br>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="mt-4">
                        <a type="button" class="btn btn-floating btn-light btn-lg" href="https://github.com/aalyaanna/VSMP" target="_blank"><i class="bi bi-github"></i></a>
                    </div>
                </div>
  
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 pb-1 footer-title">Our Gmail Contacts</h5>
                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">mlaoseo@tip.edu.ph</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">maesanjose@tip.edu.ph</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">magrubaldo@tip.edu.ph</span>
                        </li>
                        <!-- Sa doctor, if ever na makukuha or their number na lang-->
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">soundsendofficial@example.com</span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 footer-title">Additional</h5>
                    <!-- Ewan kung ano pa ilalagay-->
                </div>
            </div>
        </div>

        <div class="text-center p-3 copyright-custom">
            © 2023 Copyright: SoundSend Official Website
        </div>
    </footer>
</div>
