@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

body{
    font-family: 'Merriweather Sans', sans-serif;
}

/* navigation styles */

.navbar{
    background-color:#edf5fe;
}

.navbar-brand{
    margin-left: 200px;
    font-size: 30px;
    font-weight: bolder;
    color: #233169;
}

.navbar-nav {
    text-align: center;
    margin-right: 200px;
}

.nav-link{
    color: #233169;
    font-size: 20px;
    font-weight:300;
}